<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">

  </a>
  <% if current_user.nil? %>
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <%= link_to'Sign in', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link", data: { toggle: "modal", target: "#signinModal" } %>
      <%= link_to'Sign up', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link", data: { toggle: "modal", target: "#signupModal" } %>
    </div>
  <% elsif current_user %>
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <%=link_to "Create Task", new_task_path, class: "navbar-wagon-item navbar-wagon-link", data: { toggle: "modal", target: "#newModal" }%></li>
<!--       <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->

      <!-- Profile picture with dropdown list -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src=<%= current_user.profile_picture %> class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%=link_to "User Profile", user_path(current_user)%></li>
            <li><%= link_to('Log out', destroy_user_session_path, method: :delete) %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
